        #login_section {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
        }
        
        .loader {
            margin-left: 10px;
            border: 3px solid #f3f3f3;
            /* Light grey */
            border-top: 3px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        #cover {
            width: 100%;
            position: relative;
            margin-bottom: 500px;
        }
        
        #login_container {
            background-color: #0f4c75;
            border: 1px solid;
            border-radius: .25rem;
            width: 30%;
            height: 250px;
            color: #bbe1fa;
        }
        
        #form_login {
            width: 100%;
            margin-top: 20px;
        }
        /* end of login */
        /* start of home */
        
        .carousel .carousel-item img {
            height: 300px;
            object-fit: cover;
        }
        
        .carousel-inner {
            height: 300px;
        }
        
        footer {
            background-color: #bbe1fa;
        }
        
        .navbar .collapse .navbar-nav .nav-item a {
            color: #bbe1fa;
        }
        
        #sectioncards {
            margin-top: 20px;
        }
        
        #section_three {
            margin-top: 20px;
            height: 400px;
        }
        
        #explore {
            padding: 50px;
            color: white;
            background-color: #3282b8;
            height: 400px;
        }
        
        #travel {
            text-align: right;
            padding: 50px;
            background-color: white;
        }
        
        .active {
            border-bottom: 1px solid rgb(0, 255, 170);
        }
        
        #color_dropdown {
            width: 200% !important;
        }
        /* admin page */
        
        #admin_top_text {
            padding: 50px;
            color: white;
            background-color: #3282b8;
            height: 200px;
        }
        
        #second_section {
            padding: 50px;
            margin-top: 10px;
        }